<p>nombre del empleado: {{nombre}} </p>
<p>Apellido del empleado: {{apellido}} </p>
<p>Edad del empleado: {{edad+7}} </p>
<p>Tipo de empleado: {{ (edad>=18) ? "Es mayor de edad" : "Es menor de edad" }} </p>
Introduce la empresa <input type="text" #empresa (keyup)="0" [disabled]="habilitar_input_property">
<br>
<br>
Introduce el sector <input type="text" #sector (keyup)="0">
<br>
<br>
Introduce el sector <input type="text" #jefe (keyup)="0">
<br>
<br>
<p>Empresa del empleado: {{empresa.value}} </p>
<p>Sector de la empresa: {{sector.value}} </p>
<p>Jefe de la empresa: {{jefe.value}} </p>


<!--<button (click)="set_empresa(empresa.value)" >Cambiar empresa</button>-->
{{texto_registro}} <br>

registrado: <input type="checkbox" id="registro" [checked]="usuario_registrado_property" (click)="set_usuario_registrado()">
<!--{{cambiar_registro()}}-->