
{{seleccion}}<br>
<select [(ngModel)]="seleccion">
    <option value="Hola">Hola</option>
    <option value="Adios">Adios</option>
</select>
<hr>
<button [style]="color_boton_property" (click)="lanzar_mensaje()">Cambiar color</button>
<br><br>
<label>
    <input type="checkbox" [(ngModel)]="estado_checkbox">Marcar / Deshacer
</label>
<p>
    Estado del checkbox: {{estado_checkbox ? 'Marcado': 'No marcar'}}
</p>
<br><br>
<input type="color" [(ngModel)]="color_property">
<p>
    color: {{color_property}}
</p>
<br><br>

<p>introduce tu nombre</p>
{{nombre.value}}
<br>
Introduce tu nombre <input type="text" #nombre>
<br>
<br>
<input type="button" value="agregar" (click)="agregar_nombre(nombre.value)">

<br>
Introduce tu apellido
<br>
{{apellido.value}}
<br>
<input type="text" #apellido (keyup)="0">


